@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
.text-color {
  color: rgb(214, 0, 0);
  background-color: lightskyblue;
  font-family: "Amiri", serif;
}
#color {
  color: darkslateblue;
  font-weight: bolder;
  text-align: center;
}
